.contact-section-one {
  background-image: url('./images/ContactUs-img.jpeg');
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.contact-section-one .section-one-bg {
  position: relative;
  background-color: rgba(5, 5, 0, 0.5);
  height: 60vh;
}

 .sectiocn-one-container .contact-title{
  color: #eb6c35;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-section-one .sectiocn-one-container {
  color: #f5d1c2;
  text-align: center;
  margin: 0px 5rem;
}



@media (max-width: 768px) {
  .contact-section-one .sectiocn-one-container{
      margin: 0rem 4rem;
  }
}
@media (max-width: 563px) {
  .contact-section-one .sectiocn-one-container{
      margin: 0rem 2rem;
      text-align: justify;
  }
}
@media (max-width: 425px) {
  .contact-section-one .sectiocn-one-container{
      margin: 0rem 2rem;
      text-align: justify;
  }
  .sectiocn-one-container .contact-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

}



.contact-section-two {
  padding: 2rem;
  margin-top: 2rem;
  background-color: #ffc3a9;
}

.contact-section {
  padding: 60px 0;
  width: 65%;
}

.contact-form {
  padding: 30px;
  border-radius: 8px;
  background-color: #F7D3C4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}


.contact-form input,
.contact-form textarea {
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.contact-form button {
  color: white;
  border: none;  
  cursor: pointer;
  border-radius: 4px;
  background-color: #ea7543;
  border: 2px solid transparent;
  font-size: 1.2rem;
  padding: 0.3rem 3rem;
  font-family: sans-serif;
}

.contact-form button:hover {
  background-color: transparent;
  border: 2px solid #ea7543;
  color: #ea7543;
}

.contact-form:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

@media (max-width: 914px){
  .contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 500px){
  .contact-section-two {
    padding: 10px;   
  }
  .contact-form input,
  .contact-form textarea { 
  margin-bottom: 10px;
  padding: 5px;
 
}

.contact-section {
  padding: 0px 0px 15px 0px;
}

}


.contact-details {
  width: 30%;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-details h5 {
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-icon {
  margin: 0px 5px 0px 0px;
}

@media (max-width: 1024px) {

  .contact-form {
    padding: 20px;
  }
}

@media (max-width: 914px) {

  .contact-section-two{
    flex-direction: column;
  }

  .contact-details {
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 100%;    
    padding-right: 0rem;
  }

  .contact-details .col-md-0 {
    width: 48%; 
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {

  .contact-details {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
  }
  .contact-details .col-md-0 {
    width: 80%;
  }
  .contact-details h5 {
    font-size: 1.3rem;
  }
  
}